@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

.header {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--header-height-mobile);
  box-shadow: var(--header-drop-shadow);

  &__logo {
    width: 70px;
    height: 70px;
    margin-left: 1rem;
  }

  &__title {
    font-family: 'Sedan SC', serif;
    font-size: 2.25rem;
    font-weight: 400;
  }

  &__navbar {
    display: flex;
    overflow: hidden;
    background-color: #157c00;
    color: #fff;
    font-size: 1.5rem;
    position: fixed;
    bottom: 0;
    height: 85px;
    width: 100%;

    a{
      display: inherit;
      align-items: center;
      justify-content: space-evenly;
      color: #f2f2f2;
      width: 100%;

      &.active {
        background-color: #25e10084;
        text-decoration: 2.5px underline;
      }
    }
  }

  &__language-button {
    position: absolute;
    right: 1.5rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid var(--text);
    background-color: transparent;
    color: var(--text);
    font-size: 1.5rem;
  }
}

@media (width >= 1400px) {
  .header {
    height: var(--header-height-desktop);

    &__logo {
      width: 90px;
      height: 90px;
      margin-left: 1.5rem;
    }

    &__title {
      font-size: 4rem;
    }

    &__language-button {
      right: 7rem;
      height: 68px;
      width: 68px;
    }
  }
}
