@import url('https://fonts.googleapis.com/css?family=Inter');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

:root {
/*-------VARIABLES-------*/
  --bg: #fff;
  --bg-green: #38ce1a;
  --text: #000;
  --header-drop-shadow: 0 4px 10px 0 rgb(0, 0, 0, 0.25);
  --header-height-mobile: 85px;
  --header-height-desktop: 115px;
/*--------STYLING--------*/
  background: var(--bg);
  color: var(--text);
}

/*-----VARIABLES-FOR-DARK-MODE-----*/
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #3d3d3d;
    --text: #fff;
  }
}

/* This is for making the mobile navbar not overlap the page contents */
main {
  padding-bottom: calc(var(--header-height-desktop) + var(--header-height-mobile));
}

.green-button {
  background-color: var(--bg-green);
  color: #fff;
  cursor: pointer;
  border: 3px solid transparent;

  &:hover,
  &:active {  
    border-color: #38aa1a;
  }
}
